.bg2 {
  height: 100vh;
}

.HomePageContent {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f8fafc;
}

.top-books-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.find-books-button {
  background-color: #0284c7;
  color: white;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.book-image {
  width: 200px;
  height: 300px;
  /* border: solid green; */
}

.slick-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  /* text-align: center; */
  color: #334155;
  text-decoration: none;
  /* border: solid pink; */
  /* display: flex; */
}

.a {
  text-decoration: none;
}

.yu {
  /* border: solid red; */
}

.bookTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}
.authorName {
  margin-top: 0px;
}
